[Unit]
Description=Clean files used by docker including the build cache when disk space is low
Requires=docker-low-disk-gc.service

[Timer]
Unit=docker-low-disk-gc.service
OnBootSec=3min
OnUnitActiveSec=3min

[Install]
WantedBy=timers.target
